body{
    font-size: 15px;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
    max-width: 1080px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-pc{
    text-align: right;
    font-size: 14px;
}

#nav-pc ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

#nav-pc a{
    text-decoration: none;
}

#nav-pc a:hover{
    text-decoration: underline;
}

#main-visual{
    position: relative;
    height: 400px;
}

#main-visual img{
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

#main-message{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04414a;
    color: #ffffff;
    border-radius: 0 0 150px 0;
    width: 620px;
    height: 100%;
    z-index: 11;
}

#main-message h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0;
}

#main-message p{
    font-size: 20px;
}

.index-h2{
    margin-top: 40px;
}

.index-h2::after{
    content: url(images/ensyu4_images/images/line.png);
    margin-left: 10px;
}

.concept-photo img{
    width: 100%;
}

.concept-photo h3{
    font-size: 27px;
}

#concept{
    margin: 80px auto;
}

#concept-flex{
    display: flex;
    justify-content: center;
    text-align: center;
}

#concept-flex>div{
    width: 50%;
    margin: 20px 20px;
}

#product{
    background-color: #fafafa;
    margin: 20px 0 80px 0;
    padding: 10px 40px 0px 40px;
}

#product>div{
    margin-top: 40px;
    display: flex;
}

#product-left,
#product-right{
    width: 50%;
}

#product-right{
    margin-top: 80px;
}

#product-left>div{
    position: relative;
    height: 480px;
    margin-right: 20px;
}

#product-right>div{
    position: relative;
    height: 480px;
    margin-left: 20px;
}

.product-photo{
    width: 100%;
}

.product-explain{
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 50px;
    margin: 40px;
    padding: 20px 20px;
    width: 80%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.product-explain>span{
    color: #04414a;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.product-explain>h3{
    margin: 5px 0;
}

.product-explain>p{
    margin: 0;
}

#company{
    margin: 80px auto;
}

#company-table{
    width: 100%;
}

.tableheader{
    text-align: left;
    padding: 20px;
    border-bottom: solid 1px #04414a;
}

.tableheader-first{
    border-top: solid 1px #04414a;
}

.cell{
    padding: 30px;
    border-bottom: solid 1px #ececec;
}

.cell-first{
    border-top: solid 1px #ececec;
}

footer{
    background-color: #04414a;
    text-align: center;
    padding: 80px 80px 30px 80px;
}

#footer-logo{
    margin-bottom: 30px;
}

#footer-link{
    margin-bottom: 50px;
}

#footer-link>a{
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
}

#footer-link>a:hover{
    text-decoration: underline;
}

#sns-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}